*,
*::befor,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container:first-child {
  margin-top: 0px;
}

header {
  width: 100%;
  height: 80px;
  padding-bottom: 32px;
  padding-top: 32px;
  border-bottom: 1px solid #ececec;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2196f3;
}

li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  display: block;
  text-align: center;
}

.button {
  display: inline-block;
  cursor: pointer;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
  margin: 0px;
  padding: 0px;
}

.button:hover, .button:focus {
  color: #2196f3;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-titel {
  margin-bottom: 34px;
}

.button-list {
  display: inline-flex;
}

.header {
  display: flex;
  height: 100%;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.logo-accent {
  color: #212121;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .link {
  margin-right: 0px;
}

.navigation .logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17em;
  width: 145px;
  margin-right: 93px;
}

.navigation .site-nav {
  justify-content: end;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17em;
  padding: 0px;
  align-items: center;
}

.site-nav-list {
  display: inline-block;
  padding-right: 50px;
}

.site-nav-list .site-nav-list:last-child {
  padding-right: 0px;
}

.primery-nav {
  position: relative;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17em;
}

.primery-nav::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/hover.svg);
  height: 4px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 28px;
}

.button-secondary {
  color: #212121;
}

.button-primery-pf {
  color: #ffffff;
  background-color: #2196f3;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  align-items: center;
  text-align: right;
  padding: 0px;
  margin-left: auto;
}

.contacts .contacts-list {
  margin-right: 50px;
  display: inline-block;
}

.contacts .contacts-list:last-child {
  margin-right: 0px;
}

.contacts-mail-tel {
  color: #757575;
  text-align: end;
}

.contacts-mail-tel:last-child {
  padding-right: 0px;
}

.contacts-mail-tel:hover .mail,
.contacts-mail-tel:focus .mail {
  fill: #2196f3;
}

.contacts-mail-tel .mail {
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-right: 10px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  font-family: "Roboto", sans-serif;
  width: auto;
}

.button-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-container {
  text-align: center;
  align-items: flex-start;
}

.button-container h1 {
  display: none;
}

.button-titel .button {
  padding: 6px 22px;
}

.button-list .buttom {
  height: 54px;
}

.row-button {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.63em;
  border: 0px;
  border-radius: 4px;
  margin-right: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row-button:hover, .row-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.type-pr-list {
  padding: 0px;
  display: flex;
  flex-basis: calc((100%-30) / 3);
  flex-wrap: wrap;
  margin: 0px;
}

.link-menu {
  display: block;
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.link-menu:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.link-menu:nth-child(3n + 1) {
  margin-left: 0px;
}

.pr-link {
  display: block;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pr-link:hover, .pr-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-hover {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.type-pr {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 0px;
  margin: 0px;
}

.projects {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  margin: 0px;
  margin-bottom: 4px;
}

.type {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88em;
}

.wind-hover {
  display: block;
  margin: 0px;
  background-color: #2196f3;
  position: absolute;
  z-index: 4;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  color: #ffffff;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pr-link:hover .wind-hover,
.pr-link:focus .wind-hover {
  transform: translateY(0%);
  opacity: 1;
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  background-color: #2f303a;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
}

.button-primery-st {
  color: #ffffff;
  background-color: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88em;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primery-st:hover, .button-primery-st:focus {
  color: #2196f3;
  background-color: #ffffff;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 55;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  color: #757575;
  padding: 40px;
  font-size: 12px;
  line-height: 1.17em;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17em;
  font-style: normal;
  color: #757575;
}

.modal > .modal-button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 7px;
  top: 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-button-close:hover {
  color: #2196f3;
  font-weight: 700;
}

.modal-titel {
  font-style: 700;
  font-size: 20px;
  line-height: 1.17em;
  font-style: normal;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  position: relative;
}

.form-input {
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.form-input-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  opacity: 0;
}

.form-svg {
  position: relative;
}

.form-inpyt-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 3px;
  left: 12px;
  top: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + * .form-inpyt-svg {
  fill: #2196f3;
}

.form-coment {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-coment:focus {
  border: 1px solid #2196f3;
}

.form-field-check {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/check.svg);
  left: 0;
  top: 1px;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-input-check:checked + .check {
  background-image: url(../img/Check3.svg);
}

.agreed {
  color: #2196f3;
}

.check-button {
  display: block;
  margin: 30px auto 0px;
  padding: 10px 55px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
}

.container-about {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-about {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-about .list-item {
  display: inline-block;
  justify-content: space-between;
  width: 270px;
  margin-right: 26px;
}

.main-about .list-item:last-child,
.main-about .network-list li:last-child {
  margin-right: 0px;
}

.advantages {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17em;
  margin: 0px;
}

.notes {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin: 0px;
  padding-top: 10px;
}

.list-item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 100px 25px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.list-item.attention::before {
  background-image: url(../img/antenna.svg);
}

.list-item.pynctuality::before {
  background-image: url(../img/clock.svg);
}

.list-item.planning::before {
  background-image: url(../img/diagram.svg);
}

.list-item.technology::before {
  background-image: url(../img/astronaut.svg);
}

.adout-us-img {
  text-align: inherit;
  margin: 0px;
  padding-bottom: 94px;
}

.adout-us-img .images {
  margin: 0px;
  padding: 0px;
}

.images-list {
  display: block;
  flex-wrap: wrap;
}

.about-us {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.images {
  display: inline-flex;
}

.images .image-menu:last-child {
  margin-right: 0px;
}

.image-menu {
  position: relative;
  flex-basis: calc((100%-30) / 3);
  margin-right: 30px;
}

.image-menu img {
  display: block;
}

.images-list-item {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  margin: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.17em;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.our-teams {
  background-color: #f5f4fa;
  text-align: center;
  padding: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0px;
}

.command {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.teams-list {
  margin: 0px;
  padding-left: 0px;
}

.teams {
  display: inline-block;
  background-color: #ffffff;
  margin-right: 26px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams:last-child {
  margin-right: 0px;
}

.name-pos {
  padding-top: 30px;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  margin: 0px;
  margin-bottom: 10px;
}

.position {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.19em;
  font-style: normal;
}

.social-icon .social-icon-item {
  display: inline-flex;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.sosial-icon-svg {
  width: 20px;
  height: 20px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
}

.social-icon-link:focus, .social-icon-link:hover {
  background-color: #2196f3;
}

.social-icon-link:focus .sosial-icon-svg,
.social-icon-link:hover .sosial-icon-svg {
  fill: #ffffff;
}

.customed-container {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customed-container h2 {
  font-size: 36px;
  line-height: 1.17em;
  margin: 0px;
}

.customed {
  display: flex;
  margin-top: 50px;
}

.customed-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customed-item:not(:last-child) {
  margin-right: 27px;
}

.customed-item:focus, .customed-item:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customed-link {
  height: 90px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-size: cover;
}

.customed-link-svg {
  width: 89px;
  height: 52px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customed-item:focus .customed-link-svg,
.customed-item:hover .customed-link-svg {
  fill: #2196f3;
}

.footer {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #2f303a;
  width: 100%;
  height: 252px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-cont {
  display: flex;
  padding-top: 60px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
}

.logo-ac-footer {
  color: #ffffff;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin-bottom: 9px;
}

.adresss-footer {
  margin: 0px;
  margin-top: 20px;
}

.mail-tel {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff99;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin-bottom: 9px;
}

.join-footer {
  margin-left: 70px;
}

.join-footer b {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-list li {
  margin-right: 10px;
}

.join {
  display: inline-block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.join.inst {
  background-image: url(../img/instagram.svg);
}

.join.twitter {
  background-image: url(../img/twitter.svg);
}

.join.facebook {
  background-image: url(../img/facebook.svg);
}

.join.linkedin {
  background-image: url(../img/linkedin.svg);
}

.join:hover, .join:focus {
  background-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe b {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
}

.foter-input {
  width: 357px;
  height: 50px;
  display: block;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.foter-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25em;
}

.button-subscribe {
  display: flex;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
  padding: 10px 29px;
  border: none;
  flex-direction: row-reverse;
}

.button-subscribe:hover {
  background-color: #ffffff;
  color: #2196f3;
}

.button-subscribe:hover .footer-subscribe-svg {
  fill: #2196f3;
}

.footer-subscribe-svg {
  width: 24px;
  height: 24px;
  fill: white;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */