.customed-container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  h2 {
    font-size: 36px;
    line-height: 1.17em;
    margin: 0px;
    @include for-size(mobile-only) {
      font-size: 28px;
    }
  }
}
.customed {
  display: flex;
  margin-top: 50px;
  @include for-size(mobile) {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
}
.customed-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  @include for-size(mobile-only) {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 26px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @include for-size(tablet) {
    flex-basis: calc((100% - 30px) / 3);
    margin-right: 15px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @include for-size(desktop) {
    margin-right: 27px;
    &:nth-child(3n) {
      margin-right: 26px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  &:focus,
  &:hover {
    border: 1px solid #2196f3;
    border-radius: 4px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.customed-link {
  height: 90px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-size: cover;
  @include for-size(mobile-only) {
    width: 210px;
  }
  @include for-size(tablet) {
    display: inline-flex;
  }
}
.customed-link-svg {
  width: 89px;
  height: 52px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .customed-item:focus &,
  .customed-item:hover & {
    fill: $accent-text-color;
  }
}
