.logo-footer {
  font-family: "Raleway", sans-serif;
  color: $accent-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
}
.logo-ac-footer {
  color: $with;
}
.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: $with;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin-bottom: 9px;
}
.adresss-footer {
  margin: 0px;
  margin-top: 20px;
}
.mail-tel {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff99;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin-bottom: 9px;
}
