.form-field {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-label {
  margin-bottom: 4px;
  position: relative;
}

.form-input {
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid $accent-text-color;
  }
}
.form-input-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  opacity: 0;
}

.form-svg {
  position: relative;
}
.form-inpyt-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 3px;
  left: 12px;
  top: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + * .form-inpyt-svg {
  fill: $accent-text-color;
}
.form-coment {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  &:focus {
    border: 1px solid $accent-text-color;
  }
}
.form-field-check {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71em;

  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/check.svg);
  left: 0;
  top: 1px;
  background-repeat: no-repeat;
  background-size: contain;
}
.form-input-check:checked + .check {
  background-image: url(../img/Check3.svg);
}
.agreed {
  color: #2196f3;
}
.check-button {
  display: block;
  margin: 30px auto 0px;
  padding: 10px 55px;
  color: $with;
  background-color: $accent-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
}
