.type-pr-list {
  padding: 0px;
  display: flex;
  flex-basis: calc((100%-30) / 3);
  flex-wrap: wrap;
  margin: 0px;
}
.link-menu {
  display: block;
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  &:nth-child(3n + 1) {
    margin-left: 0px;
  }
}
.pr-link {
  display: block;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.projects-hover {
  position: relative;
  overflow: hidden;
  text-align: left;
}
.type-pr {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 0px;
  margin: 0px;
}
.projects {
  color: $titel-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  margin: 0px;
  margin-bottom: 4px;
}
.type {
  color: $primary-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88em;
}
