.our-teams {
  background-color: $bgc;
  text-align: center;
  padding: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0px;
}
.command {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}
.teams-list {
  margin: 0px;
  padding-left: 0px;
}
.teams {
  display: inline-block;
  background-color: $with;
  margin-right: 26px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-right: 0px;
  }
}
.name-pos {
  padding-top: 30px;
}
.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  margin: 0px;
  margin-bottom: 10px;
}
.position {
  color: $primary-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.19em;
  font-style: normal;
}
.social-icon .social-icon-item {
  display: inline-flex;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}
.sosial-icon-svg {
  width: 20px;
  height: 20px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  &:focus,
  &:hover {
    background-color: $accent-text-color;
  }
  &:focus .sosial-icon-svg,
  &:hover .sosial-icon-svg {
    fill: $with;
  }
}
