.container-about {
  @include for-size(mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-about {
  @include for-size(mobile-only) {
    display: block;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
  padding: 0px;
  margin: 0px;
  width: 100%;

  .list-item {
    display: inline-block;
    justify-content: space-between;

    @include for-size(mobile-only) {
      margin: 0px;
      min-width: 100%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    @include for-size(tablet) {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
      text-align: left;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    @include for-size(desktop) {
      width: 270px;
      margin-right: 26px;

      &:nth-child(2n) {
        margin-right: 26px;
      }
    }
  }
}
.list-item:last-child,
.network-list li:last-child {
  margin-right: 0px;
}

.advantages {
  color: $titel-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17em;
  margin: 0px;
  @include for-size(mobile-only) {
    text-align: center;
  }
}
.notes {
  color: $primary-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin: 0px;
  padding-top: 10px;
  text-align: left;
}
.list-item::before {
  @include for-size(mobile-only) {
    background-position: 50% 50%;
  }
  @include for-size(tablet) {
    background-position: 50% 50%;
  }
  @include for-size(desktop) {
    background-position: 100px 25px;
  }
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;

  background-color: $bgc;
  margin-bottom: 30px;
}
.list-item.attention::before {
  background-image: url(../img/antenna.svg);
}
.list-item.pynctuality::before {
  background-image: url(../img/clock.svg);
}
.list-item.planning::before {
  background-image: url(../img/diagram.svg);
}
.list-item.technology::before {
  background-image: url(../img/astronaut.svg);
}
