.footer {
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  font-family: "Roboto", sans-serif;

  justify-content: center;
  background-color: $fon-cl;
  padding-top: 60px;
  padding-bottom: 60px;
  @include for-size(mobile-only) {
    max-width: 480px;
    height: 603px;
  }
  @include for-size(tablet) {
    max-width: 768px;
    height: 463px;
    padding: 65px 89px 60px 76px;
  }
  @include for-size(desktop) {
    max-width: 1600px;
    height: 252px;
    padding: 60px 15px;
  }
}
.container.footer-cont {
  @include for-size(desktop) {
    display: flex;
  }
}
// .footer-wrapper {
//   @include for-size(mabile-only) {
//     text-align: center;
//   }
// }
