.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 252px;
  align-items: center;
  font-family: "Roboto", sans-serif;

  justify-content: center;
  background-color: $fon-cl;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer-cont {
  display: flex;
}
